GROQ_API_KEY=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
OPENROUTER_API_KEY=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

# Supabase PostgreSQL Async Database URL for SQLAlchemy (asyncpg)
DATABASE_URL=postgresql+asyncpg://postgres.yrhykpojdsehesmwhuqk:94VgnJAkECwGZz04@aws-0-us-east-1.pooler.supabase.com:5432/postgres

# Supabase Platform Environment Credentials
NEXT_PUBLIC_SUPABASE_URL=https://yrhykpojdsehesmwhuqk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyaHlrcG9qZHNlaGVzbXdodXFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNTE3NjcsImV4cCI6MjEwMTkyNzc2N30.HFX_VYm-bTfZxgu4FlzoXCjEXRoWvin27J5ekO7qpCE
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_AWBISic-OKMfH_ytGuBuVQ_GMMFrYfc

SUPABASE_URL=https://yrhykpojdsehesmwhuqk.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyaHlrcG9qZHNlaGVzbXdodXFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYzNTE3NjcsImV4cCI6MjEwMTkyNzc2N30.HFX_VYm-bTfZxgu4FlzoXCjEXRoWvin27J5ekO7qpCE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlyaHlrcG9qZHNlaGVzbXdodXFrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjM1MTc2NywiZXhwIjoyMTAxOTI3NzY3fQ.KkHmxhp1FCg1UHQRyG-5FOKZBG0K7lC10B9xDUrTA_I
SUPABASE_JWT_SECRET=YRCF/5X3HM5CJUoP5O2DzLo//bsp1/UhctqvApEuZY4GzeS6hbrClT14WhJ8zyHsJs2J6ecO3FEY/DrfARs+gg==

POSTGRES_USER=postgres
POSTGRES_PASSWORD=94VgnJAkECwGZz04
POSTGRES_HOST=db.yrhykpojdsehesmwhuqk.supabase.co
POSTGRES_DATABASE=postgres
POSTGRES_URL=postgres://postgres.yrhykpojdsehesmwhuqk:94VgnJAkECwGZz04@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x
POSTGRES_PRISMA_URL=postgres://postgres.yrhykpojdsehesmwhuqk:94VgnJAkECwGZz04@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true
POSTGRES_URL_NON_POOLING=postgres://postgres.yrhykpojdsehesmwhuqk:94VgnJAkECwGZz04@aws-0-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require

SECRET_KEY=groq-agent-platform-super-secret-jwt-key-2026-buildr
DEFAULT_MODEL=llama-3.3-70b-versatile
